{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-2">

  <div class="text-center mb-5 mt-5">
    <h1 class="fw-bold mb-2">Administration Panel</h1>
    <p class="text-muted">Choose a section to manage </p>
  </div>

  <div class="row g-4 justify-content-center">

    <div class="col-12 col-sm-6 col-lg-3">
      <a href="{% url 'data_load' %}" class="text-decoration-none">
        <div class="card h-100 text-center shadow-sm border-0 rounded-4 card-hover bg-warning bg-gradient">
          <div class="card-body py-5">
              <i class="bi bi-database-down fs-1 me-2"></i>
              <h5 class="fw-semibold text-dark">Data Load</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <a href="{% url 'go_categories' %}" class="text-decoration-none">
        <div class="card h-100 text-center shadow-sm border-0 rounded-4 card-hover bg-danger bg-gradient">
          <div class="card-body py-5">
              <i class="bi bi-tag fs-1 me-2"></i>
              <h5 class="fw-semibold text-dark">Categories</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <a href="{% url 'show_songs' %}" class="text-decoration-none">
        <div class="card h-100 text-center shadow-sm border-0 rounded-4 card-hover bg-success bg-gradient">
          <div class="card-body py-5">
              <i class="bi bi-music-note fs-1 me-2"></i>
              <h5 class="fw-semibold text-dark">Songs</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <a href="{% url 'users_panel' %}" class="text-decoration-none">
        <div class="card h-100 text-center shadow-sm border-0 rounded-4 card-hover bg-info bg-gradient">
          <div class="card-body py-5">
              <i class="bi bi-person-gear fs-1 me-2"></i>

                <h5 class="fw-semibold text-dark">Users Panel</h5>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
{% endblock %}
