{% extends "base.html" %}

{% block content %}
<div class="register-bg d-flex align-items-center justify-content-center">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 420px;">
        <h2 class="text-center mb-4">Registro</h2>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.as_p }}
            </div>

            <div class="d-grid gap-3">
                <button type="submit" class="btn btn-primary btn-lg">
                    Registrarse
                </button>
                <a class="btn btn-outline-primary btn-lg" href="{% url 'do_login' %}">
                 Log In
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
